<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>{{ isEditing ? 'Edit User' : 'Add New User' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <!-- Name Fields -->
    <ion-item [class.ion-invalid]="isFieldInvalid('firstName')">
      <ion-label position="stacked">First Name <span class="required">*</span></ion-label>
      <ion-input
        formControlName="firstName"
        placeholder="Enter first name"
        type="text">
      </ion-input>
      <ion-note slot="error">{{ getFieldError('firstName') }}</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Middle Name</ion-label>
      <ion-input
        formControlName="middleName"
        placeholder="Enter middle name"
        type="text">
      </ion-input>
    </ion-item>

    <ion-item [class.ion-invalid]="isFieldInvalid('lastName')">
      <ion-label position="stacked">Last Name <span class="required">*</span></ion-label>
      <ion-input
        formControlName="lastName"
        placeholder="Enter last name"
        type="text">
      </ion-input>
      <ion-note slot="error">{{ getFieldError('lastName') }}</ion-note>
    </ion-item>

    <!-- Contact Fields -->
    <ion-item [class.ion-invalid]="isFieldInvalid('phoneNumber')">
      <ion-label position="stacked">Phone Number <span class="required">*</span></ion-label>
      <ion-input
        formControlName="phoneNumber"
        placeholder="Enter 10-digit phone number"
        type="tel"
        maxlength="10">
      </ion-input>
      <ion-note slot="error">{{ getFieldError('phoneNumber') }}</ion-note>
    </ion-item>

    <!-- Email and Password Fields -->
    <ion-item [class.ion-invalid]="isFieldInvalid('email')">
      <ion-label position="stacked">Email <span class="required">*</span></ion-label>
      <ion-input
        formControlName="email"
        placeholder="Enter email address"
        type="email">
      </ion-input>
      <ion-note slot="error">{{ getFieldError('email') }}</ion-note>
    </ion-item>

    <ion-item [class.ion-invalid]="isFieldInvalid('password')">
      <ion-label position="stacked">Password <span class="required">*</span></ion-label>
      <ion-input
        formControlName="password"
        placeholder="Enter password"
        type="password">
      </ion-input>
      <ion-note slot="error">{{ getFieldError('password') }}</ion-note>
    </ion-item>

    <!-- Address Fields -->
    <ion-item>
      <ion-label position="stacked">Address Line 1</ion-label>
      <ion-input
        formControlName="address1"
        placeholder="Enter address line 1"
        type="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Address Line 2</ion-label>
      <ion-input
        formControlName="address2"
        placeholder="Enter address line 2"
        type="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">City</ion-label>
      <ion-input
        formControlName="city"
        placeholder="Enter city"
        type="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">State</ion-label>
      <ion-input
        formControlName="state"
        placeholder="Enter state"
        type="text">
      </ion-input>
    </ion-item>

    <ion-item [class.ion-invalid]="isFieldInvalid('pinCode')">
      <ion-label position="stacked">Pin Code</ion-label>
      <ion-input
        formControlName="pinCode"
        placeholder="Enter 6-digit pin code"
        type="tel"
        maxlength="6">
      </ion-input>
      <ion-note slot="error">{{ getFieldError('pinCode') }}</ion-note>
    </ion-item>

    <!-- Action Buttons -->
    <div class="ion-margin-top">
      <ion-button
        expand="block"
        (click)="userForm.reset()"
        class="cancel-button">
        Clear
      </ion-button>

      <ion-button
        expand="block"
        type="submit"
        [disabled]="userForm.invalid && submitted"
        class="save-button">
        <ion-icon name="checkmark-outline" slot="start"></ion-icon>
        {{ isEditing ? 'Update User' : 'Save User' }}
      </ion-button> 
    </div>
  </form>
</ion-content>

