ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
}
form {
  ion-item {
    margin-block-end: 16px;
  }
  ion-button {
    margin-block-start: 24px;
  }
}
