<app-header-menu 
  [activeMenu]="activeMenu"
  (menuChange)="onMenuChange($event)"
  (branchChange)="onBranchChange($event)">
</app-header-menu>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content-container">
    <h1>Add New Branch</h1>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Branch Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-input
              label="Branch Name"
              labelPlacement="stacked"
              formControlName="name"
                    (ionInput)="onNameInput($event)"
                    maxlength="100"
              placeholder="Enter branch name"
              required>
            </ion-input>
          </ion-item>
          <div *ngIf="branchForm.get('name')?.invalid && branchForm.get('name')?.touched" class="error-message">
            <div *ngIf="branchForm.get('name')?.errors?.['required']">Branch name is required</div>
            <div *ngIf="branchForm.get('name')?.errors?.['maxlength']">Branch name must be at most 100 characters</div>
            <div *ngIf="branchForm.get('name')?.errors?.['pattern']">Branch name must be alphanumeric</div>
          </div>

          <ion-item>
            <ion-input
              label="Address 1"
              labelPlacement="stacked"
              formControlName="address1"
              placeholder="Enter address line 1"
              maxlength="100">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Address 2"
              labelPlacement="stacked"
              formControlName="address2"
              placeholder="Enter address line 2 (optional)"
              maxlength="100">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="City"
              labelPlacement="stacked"
              formControlName="city"
              placeholder="Enter city">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="State"
              labelPlacement="stacked"
              formControlName="state"
              placeholder="Enter state">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Country"
              labelPlacement="stacked"
              formControlName="country"
              placeholder="Country"
              readonly>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Phone"
              labelPlacement="stacked"
              type="tel"
              formControlName="phoneNumber"
              placeholder="Enter phone number">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-input
              label="Zip Code"
              labelPlacement="stacked"
              formControlName="zipCode"
              placeholder="Enter zip/postal code">
            </ion-input>
          </ion-item>


          <ion-button
            expand="block"
            type="submit"
            [disabled]="branchForm.invalid"
            class="ion-margin-top">
            Create Branch
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

