<app-header-menu 
  [activeMenu]="activeMenu"
  (menuChange)="onMenuChange($event)"
  (branchChange)="onBranchChange($event)">
  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="content-container">
      <h1>User Approvals</h1>
      <p>Pending user approval requests will be displayed here.</p>
      
      <div class="empty-state">
        <ion-icon name="checkmark-circle-outline" size="large"></ion-icon>
        <p>No pending approvals</p>
      </div>
    </div>
  </ion-content>
</app-header-menu>
